@model IEnumerable<BookTea.Models.OrderLine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form method="get">
        <input name="searchWord" style="width:400px" class="d-inline form-control" placeholder="search..." type="text" />
        <button class="d-inline btn btn-outline-primary">Search</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantityRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantityRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OL_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OL_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OL_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
