@model IEnumerable<BookTea.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

@if (Model == null || Model.Count() == 0)
{
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Oh no!</h4>
        <p>Sorry! There is no payments yet!</p>
        <hr>
        <a asp-action="Create">Create Payments</a>
        
    </div>
}
else
{
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
        <form asp-action="Index" method="get">
            <input style="width:400px" name="term" class="d-inline form-control" placeholder="Search...." type="text" />
            <button type="submit" class="d-inline btn btn-outline-primary">Search</button>
        </form>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PendingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PendingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}